@font-face {
  font-family: boold;
  src: url(/assets/YekanBakhFaNum-Bold.ttf);
}
@font-face {
  font-family: SemiBold;
  src: url(/assets/YekanBakhFaNum-SemiBold.ttf);
}
@font-face {
  font-family: ExtraBold;
  src: url(/assets/YekanBakhFaNum-ExtraBold.ttf);
}
@font-face {
  font-family: Regular;
  src: url(/assets/YekanBakhFaNum-Regular.ttf);
}

* {
  font-size: semibold;
  padding: 0px;
  margin: 0px;
  outline: none;
  box-sizing: border-box;
}
h1 {
  font-family: SemiBold;
}
.date {
  font-family: Regular;
}
.salam {
  font-family: ExtraBold;
}
.todaytask1 {
  font-family: ExtraBold;
}
.todaytask2,
.todaytask3 {
  font-family: SemiBold;
}
